# Compiled Object files
__obj__
*.slo
*.lo
*.o
*.obj

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.app

# Generated MOC, resource and UI files
__moc__
moc_*.cpp
qrc_*.cpp
ui_*.h

# Debug and Release directories Windows
Debug/
Release/
*.Debug
*.Release

#LaTeX
*.out
*.out.ps
*.toc
*.synctex.gz
*.log
*.aux
*.blg
*.bbl
*.dvi
*.pdf

# Windows-specific
Thumbs.db
desktop.ini

# Mac-specific
.DS_Store

# Generated testoutput files
gtestresults.xml

# Project Files
gui/application/application
gui/testsuite/testsuite
gui/testsuite/resources/tms
gui/Makefile
gui/application/Makefile
gui/testsuite/Makefile
*.pro
*.pro.user
db.sqlite
*.qm
grammar.tab.cpp
grammar.tab.hpp
*/tms
*/tms.exe
*/lex.cpp
*/grammar.output
*/solver
solver/solver
clp/clp
*/solver.exe

# Editors temporary files 
*~

# ignore eclipse files
*.metadata/
# eclipse
*.metadata
*/.cproject
*/.project
*/.settings

# Exceptions of ignoring files
!libgtest_unix32.a
!libgtest_unix64.a
!libgtest_win32.a
!libgtest_win64.a
!verslag/voorbeelden/*
