# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.app

# Generated MOC, resource and UI files
/__moc__
moc_*.cpp
qrc_*.cpp
ui_*.h

# Debug and Release directories (created under Windows, not Linux)
Debug/
Release/

#LaTeX
*.out
*.synctex.gz
*.log
*.aux
*.blg
*.bbl

# Windows-specific files
Thumbs.db
desktop.ini
# Mac-specific things (thanks to Michael Aaron Safyan)
.DS_Store

# Project Files
Makefile*
application
*.pro
*.pro.user
db.sqlite
*.qm
grammar.tab.cpp
grammar.tab.hpp


# Editors temporary files 
*~
