# Compiled Object files
__obj__
*.slo
*.lo
*.o
*.obj

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.app

# Generated MOC, resource and UI files
__moc__
moc_*.cpp
qrc_*.cpp
ui_*.h

# Debug and Release directories Windows
Debug/
Release/

#LaTeX
*.out
*.out.ps
*.toc
*.synctex.gz
*.log
*.aux
*.blg
*.bbl
*.dvi
*.pdf

# Windows-specific
Thumbs.db
desktop.ini

# Mac-specific
.DS_Store

# Generated testoutput files
gtestresults.xml

# Project Files
Makefile*
gui/application/application
gui/testsuite/testsuite
gui/testsuite/resources/tms
*.pro
*.pro.user
db.sqlite
*.qm
grammar.tab.cpp
grammar.tab.hpp
tms/tms
tms/lex.cpp
tms/grammar.output

# Editors temporary files 
*~

# Exceptions of ignoring files
!libgtest.a
!verslag/voorbeelden
